.container {
  max-width: 1440px;
  margin: 0 auto;

  &__header {
    max-width: 1120px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__true-chess {
    padding: 60px 0 80px;
    max-width: 1280px;
    overflow: hidden;
    margin-left: auto;
    display: grid;
    grid-template-columns: 1fr min-content;
    grid-template-rows: repeat(3, min-content) 1fr;
    grid-template-areas:
      "link abstraction"
      "title abstraction"
      "subtitle abstraction"
      "chess abstraction";
    align-items: start;
  }

  &__our-team {
    max-width: 1120px;
  }

  &__invitation {
    padding: 60px 0 60px;
    max-width: 1280px;
    overflow: hidden;
    margin-right: auto;
    display: grid;
    grid-template-columns: repeat(2, min-content);
    grid-template-rows: repeat(2, min-content);
    grid-template-areas:
      "left-abstraction right-abstraction title"
      "left-abstraction right-abstraction subtitle";
  }
}
