.image {
  &_type {
    &_chess-blue {
      grid-area: chess;
      width: 416px;
      height: 104px;
      @include background-setting(url(../../image/main/Group3331.svg), cover);
      margin-top: 181px;
    }

    &_header-abstraction {
      grid-area: abstraction;
      position: relative;
      margin-top: 10px;
      right: -25%;
      width: 640px;
      height: 640px;
      @include background-setting(url(../../image/main/Group332.svg), cover);
    }

    &_card {
      padding-bottom: 30px;
    }

    &_our-team-left-abstraction {
      grid-area: left-abstraction;
      width: 220px;
      height: 440px;
      @include background-setting(url(../../image/main/Group336.svg), cover);
    }

    &_our-team-right-abstraction {
      grid-area: right-abstraction;
      width: 440px;
      height: 440px;
      @include background-setting(url(../../image/main/Group337.svg), cover);
    }
  }
}
