.subtitle {
  &_position {
    &_true-chess {
      grid-area: subtitle;
      @include font-setting(400, 20px, 130%, $color-white);
      max-width: 500px;
      margin-top: 40px;
    }

    &_our-team {
      @include font-setting(400, 20px, 130%, $color-white);
      margin-top: 40px;
      max-width: 500px;
    }

    &_card {
      display: block;
      @include font-setting(400, 20px, 130%, $color-white);
      margin-top: 10px;
    }

    &_invitation {
      grid-area: subtitle;
      align-self: start;
      @include font-setting(400, 20px, 130%, $color-white);
      margin-left: 100px;
      max-width: 520px;
    }

    &_battles {
      @include font-setting(400, 20px, 130%, $color-white);
      max-width: 500px;
      margin-top: 40px;
    }

    &_footer {
      @include font-setting(400, 15.1px, 132%, #8e9199);
    }
  }
}
