.title {
  &_position {
    &_true-chess {
      grid-area: title;
      @include font-setting(600, 70px, 90%, $color-white);
      max-width: 500px;
      margin-top: 71px;
    }

    &_our-team {
      @include font-setting(600, 70px, 90%, $color-white);
    }

    &_card {
      @include font-setting(400, 22px, 130%, $color-white);
      letter-spacing: 0.055em;
      text-transform: uppercase;
    }

    &_invitation {
      grid-area: title;
      align-self: end;
      @include font-setting(600, 70px, 90%, $color-white);
      margin-left: 100px;
      margin-bottom: 37px;
      max-width: 520px;
    }
  }
}
